:root {
  --nav-item-bg: #616161;
  --side-bar-higet: 260px;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: var(--FONTS-main-font);
}
html {
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  width: 100%;
  background: center center/cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.light-font {
  color: var(--COLOR-white);
}

.dark-font {
  color: var(--COLOR-dark);
}

.btn {
  font-size: 14px;
  width: 100%;
  color: var(--COLOR-dark);
  border: 3px solid var(--COLOR-dark);
  border-radius: 40px;
  padding: 7px 0;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--COLOR-dark);
  color: var(--COLOR-white);
}

.btn-lighet {
  color: var(--COLOR-white);
  border-color: var(--COLOR-white);
}

.btn-lighet:hover {
  color: var(--COLOR-dark);
  background-color: var(--COLOR-white);
}

.underline {
  text-decoration: underline;
}

/* side bar */
#side-navbar {
  position: fixed;
  height: var(--side-bar-higet);

  top: calc(50vh - var(--side-bar-higet) / 2);

  padding-left: 15px;

  font-weight: 500;
  color: white;
}

.side-nav-item {
  border-left: rgba(150, 150, 150, 0.3) 2px solid;
  margin: 2px;
  padding: 4px;
  color: rgba(255, 255, 255, 0);
}
.side-nav-item:hover {
  color: #fff;
  border-left-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 900px) {
  #side-navbar {
    display: none;
  }
}

#fixed-item {
  height: 50px;
  width: 50px;
  background-color: var(--COLOR-white);
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px 0px;
}

/* header ====== page 1 */

#the-header {
  background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop')
    center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top-navbar {
  width: 100%;
  height: 56px;
  padding: 0 48px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: sticky;
  top: 0;
}

.top-navbar-logo {
  width: 120px;
  color: rgb(255, 255, 255);
}

.top-nav-item {
  font-family: var(--FONTS-main-font);
  font-weight: 500;
  font-size: 15px;
  padding: 4px 16px;
  color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.top-nav-item:hover {
  background: var(--nav-item-bg);
}

@media screen and (max-width: 1200px) {
  .main-top-navbar {
    display: none;
  }
  .r-top-navbar .top-nav-item {
    display: none;
  }
  #menu-btn {
    display: block;
    background: var(--nav-item-bg);
  }
  #menu-btn:hover {
    background: none;
  }
}

#the-header h1 {
  font-size: 40px;
  text-align: center;
  color: var(--COLOR-white);
  padding-top: 20px;
}

.speed-svg.white {
  color: var(--COLOR-white);
  background: green;
  color: green;
  fill: green;
}

.speen-info {
  height: 54px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 80px;
  justify-content: space-between;
  color: var(--COLOR-white);
}

@media screen and (max-width: 770px) {
  .header-bottom-container .speen-info {
    flex-wrap: wrap !important;
    background-color: blueviolet;
    max-width: 500px;
  }
  #order-now {
    width: 100%;
    min-width: 300px;
    width: 100%;
    background-color: aqua;
  }
}

.speed-info-item {
  height: 100%;
  width: 20%;
}

.speed-info-sub-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.speed-info-sub-item > img {
  width: 30px;
  display: inline-block;
}

.speed-info-sub-item-u {
  font-size: 28px;
}

.speed-info-sub-item-d {
  font-size: 12px;
}

/* safty page */
.page-odd {
  display: flex;
}

.page-odd .img-section {
  height: 100%;
  flex-basis: 70%;
}
.page-odd .data-section {
  height: 100%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-odd .data-section h3 {
  color: var(--COLOR-gray);
  font-weight: 200;
}
.page-odd .data-section h2 {
  padding-top: 0;
  padding-bottom: 40px;
  color: var(--COLOR-gray);
  font-weight: 500;
  padding-top: 10px;
}

.page-odd .data-section p {
  color: var(--COLOR-gray);
}

.page-odd .data-section .buttens {
  width: 100%;
  /* background-color: antiquewhite; */
}

.page-odd .data-section .buttens span {
  padding-right: 30px;
}

.btn-round {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  font-size: x-large;
  color: var(--COLOR-light-gray);
  border-color: var(--COLOR-light-gray);
}
.page-odd .data-section .buttens span:hover a {
  background-color: var(--COLOR-light-gray);
  color: var(--COLOR-white);
}

.page-odd .data-section .btn-light {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1250px) {
  .page-odd {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .page-odd .img-section {
    flex-basis: 35%;
    width: 100%;
    background-color: black;
    background-color: palegreen;
  }
  .page-odd .data-section {
    margin: 0 8%;
    padding-bottom: 5%;
    max-width: 60%;
    flex-basis: 50%;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
    align-items: flex-end;
  }
  .page-odd .data-section .data {
    flex-basis: 60%;
  }
  .page-odd .data-section .buttens {
    /* padding: 25px 50px; */
    flex-basis: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 8px;
  }

  .page-odd .data-section .buttens > a,
  .page-odd .data-section .buttens > span {
    max-width: 250px;
    margin-top: 10px;
  }
}

#safty .img-section {
  background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/ea753653-02a2-4206-aac5-82a33a0a245d/bvlatuR/std/2880x1800/model-3-hero-a-desktop')
    center center/contain no-repeat;
}

.page-even {
  display: flex;
  flex-direction: column;
}

.page-even .img-section {
  flex-basis: 60%;
}

/* .page-even .speed-info .speed-info-sub-item-u img { */
.speed-info-sub-item > img {
  width: 50px;
}

.page-even .data-section {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.page-even .speen-info {
  margin-top: 22%;
  max-width: 800px;
  align-items: flex-start;
  justify-content: space-between;
}
.page-even .speen-info .speed-info-item {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .page-even .speed-info-sub-item-d {
    display: none;
  }
  .page-even .speen-info {
    width: 80%;
  }
}

.page-even .data-section .data-l {
  flex-basis: 350px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page-even .data-section .data-l .order-now {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
}
.page-even .data-section .data-r {
  flex-basis: 55%;
}

.page-even .data-section .data-r p {
  font-size: 14px;
  padding: 16px;
}

#preformance .img-section {
  background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/3489a82e-b19c-457a-86a4-7ea9ac91aa1c/bvlatuR/std/1920x1080/lhd-performance-hero-desktop')
    center center/cover;
}
/* #the-header .speed-info-item {
  width: 30%;
}
#order-now {
  width: 300px;
} */

/* .fa-angle-down {
  margin: auto;
  height: 50px;
  width: 50px;
  background-color: #616161;
  color: white;
  font-family: 'Courier New', Courier, monospace;
} */
/* 
*/

/* 

f
f
f
f
f
*/
/* #top-navbar {
  background-color: gold;
}

.top-nav-item {
  background-color: aquamarine;
} */

/* #safty .data-section {
  background-color: peru;
} */

/* #side-navbar {
  background-color: #616161;
} */

/* #side-navbar li {
  background-color: rgb(238, 203, 65);
} */

/* .header-bottom-container {
  background-color: rgb(168, 32, 32);
  opacity: 0.8;
}

.speen-info {
  background-color: green;
}
.speed-info-item {
  border: 1px dashed salmon;
}
.speed-info-sub-item {
  border: 2px dashed yellow;
} */

/* .row,
.column {
  border: 1px dashed salmon;
} */

/* #safty {
  background-color: aquamarine;
} */
/* 
#preformance {
  background-color: tan;
}

.page-even .img-section {
  background-color: sandybrown;
}

.page-even .data-section {
  background-color: yellowgreen;
}

.page-even .speen-info {
  background-color: crimson;
}

.page-even .data-l {
  border: 1px darkblue dotted;
}
.page-even .data-r {
  border: 2px pink dotted;
}

.headline {
  background-color: khaki;
}

.page-even .buttens {
  background-color: hotpink;
} */
